body{
    margin: 0;
    background-color: rgb(193, 197, 209);

    font-family: 'Spartan', sans-serif;
}


/* title */
header {
    background-color: rgb(144, 152, 179);
}

h1 {

    margin: 50px;
    text-align: center;

    color: rgb(57, 59, 73);
    font-weight: 700;
}

/* bg pic/figure */
#bgLogo {
    position: absolute;
    top: 100px;
    left: 400px;
    z-index: -3;
    opacity: 60%;
}

#face{
    width: 500px;

    margin-left: 600px;
    top: 140px;

    position: absolute;
    z-index: -2;
}

/* tea pic */
#tea {
    
    position: absolute;
    z-index: -1;

    margin-left: 900px;
    top: 150px;

}

/* txt boxes */
#boxes {
    display: flex;
    justify-content: space-between;
    
}

section {
    background-color: rgb(144, 152, 179);
    width: 200px;
    height: 300px;

    padding: 20px;
    margin: 25px;
    margin-left: 100px;

}

#second {
    background-color: rgb(144, 152, 179);

    width: 200px;
    height: 300px;

    padding: 20px;
    margin: 25px;
    margin-right: 100px;
}

p {
    margin-top: 30px;
}

#bar {
    display: flex;
    /* position: relative; */
}

#left, #right {
    margin: auto;
}


/* bottom pics */
#bg {
    background-color: rgb(108, 113, 138);
    height: 200px;
    width: 1050px;

    margin: auto;
    

    margin-top: 10px;
    padding-top: 30px;

    overflow: hidden;

    position: relative;
    
}

#pics {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    

    position: absolute;
    top: 0;
    left: 0;

    transition: transform 1s; 
}

.pic {
    /* display: block; */
    display: flex;
    align-content: center;
    justify-content: center;

    background-color: rgb(144, 152, 179);

    height: 160px;
    width: 150px;

    margin: 30px;  


}

#four img { margin-top: 30px; }
#six img {margin-top: 8px;}
#seven img{ margin-top: 60px; }
#eight img{ margin-top: 30px;}

.pic img { 

    width: 75%;

    margin: auto;
    margin-top: 15px;

}

/* hover -> expand */

.pic:hover {

    height: 190px;
    width: 180px;
}



/* footer */
footer {
    text-align: center;

    margin: 20px;

}